<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darja's Blog</title>
</head>
<body>
<div>
<h1>My first Website</h1> <!--up to h6 headers-->
</div>

<div>
<p> Hi there !</p>
<p> It works !</p>
    <p>published: 08.08.2018 10.46</p>
<p> I never thought this all would work. I write Python, Django and even on HTML.
    Who would thought that I would go into <strong>programming</strong>. What will happen with my future?</p>
</div>
<ul><li>1.Python</li><li>2.Django</li><li>3. HTML</li></ul>
</body>
</html>